<html>
    <head>
    </head>
    <body>
        <div class="container">
            <h1>File Editor</h1>
            {% include "CmfFileEditorBundle::editor.html.twig" %}
        </div>
    </body>
</html>

